.main {
    @apply bg-white text-black font-sans leading-normal
}
.primary-bg{
    @apply bg-grey-lightest
}
.secondary-bg{
    @apply bg-grey-lighter
}
.primary-border{
    @apply border-grey-light
}
.primary-button{
    @apply text-blue
}

.primary-button:hover, .primary-button:focus, .primary-button:active{
    @apply text-orange
}
.primary-button:disabled{
    @apply text-grey cursor-not-allowed
}

.primary-text{
    @apply text-grey-darkest
}

.secondary-text{
    @apply text-grey-dark
}

select{
    @apply secondary-bg h-8 appearance-none rounded px-1
}


select{
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat #eeeeee calc(100% - 6px);
    background-size: 12px 12px;
    padding-right: 20px;
}

.addFieldButton{
    @apply secondary-bg justify-center p-2 w-full rounded flex flex-row items-center uppercase text-xs
}

.error-message{
    @apply bg-red-lightest p-2 border-red rounded
}

.helper-card {
    @apply bg-orange text-white p-2
}

.tag--get{
    @apply text-blue font-bold
}
.tag--post{
    @apply text-green font-bold
}
.tag--put, .tag--option, .tag--head{
    @apply text-orange font-bold
}
.tag--delete{
    @apply text-red font-bold
}
.tag--oauth{
    @apply text-purple font-bold
}
.tag--ws{
    @apply text-orange font-bold
}
.tag--counter{
    @apply secondary-bg text-xs px-1 py-px ml-1 rounded
}

.tag--responsetags{
    @apply text-white px-2 py-1 rounded text-sm
}

.tag--statuscode-2xx{
    @apply bg-green
}
.tag--statuscode-4xx{
    @apply bg-orange
}
.tag--statuscode-5xx{
    @apply bg-red
}

.tag--totaltime{
    @apply bg-purple
}
.tag--bodysize{
    @apply bg-orange
}

a{
    @apply text-blue
}
a:visited{
    @apply text-blue-dark
}

a svg{
    @apply text-black
}
a:visited svg{
    @apply text-black
}


.list-item{
    @apply primary-bg text-blue-light;
}
.list-item:hover, .list-item:focus, .list-item:active, .list-item-active{
    @apply secondary-bg text-orange !important;
}
.request-item:hover, .request-item:focus{
    @apply secondary-bg
}

.CodeMirror{
    border: 1px solid #eee;
}

.error-bg{
    @apply bg-red-light text-white
}
.error-border{
    @apply border-red-lightest
}
